services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: poker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8001:8000"
    command: [ "poetry", "run", "uvicorn", "backend.rest_api.main:app", "--host", "0.0.0.0", "--port", "8000" ]
volumes:
  pg_data: